*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#main{
    width: 80%;
    margin: auto;
    display: flex;
}
#top_stories{
    width: 15%;
    margin-right: 10px;
}
#last {
    width: 15%;   
}
#center{
    width: 68%;
    margin: 0 10px;
  display: grid;
}
#rouat{
    width: 80%;
    margin: 15px auto;
}
a{
    text-decoration: none;
    cursor: pointer;
}
#rouat i{
    font-size: 18px;
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  #containers {
    width: 100%;
    padding: 10px;
    background-color: #fafafa;
  }
  #navbar1 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: #bdb2b6;
    font-size: 13px;
    background-color:white;
    margin-bottom: 7px;
  }
  #navbar1 > div {
    padding: 5px;
  }
 

  #navbar2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    justify-content: space-between;
    padding: 5px 10px;
    color: #bdb2b6;
  }
  #navbar2 > div {
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar2 > div:hover {
    cursor: pointer;
  }
  #navbar2 > div > img {
    width: 30%;
    /* height: 10%; */
  }
  #navbar2 > #logo {
    width: 10%;
  }
  #navbar2 > #logo > img {
    width: 80%;
  }
  #navbar2 > .social_logo {
    margin: 0%;
    width: 2%;
  }
  #navbar2 > .social_logo > img {
    width: 80%;
  }
   i{
    font-size: 30px;
  }
  #first{
    width: 90%;
    display: flex;
    /* border: 1px solid rebeccapurple; */
    margin: 8px 0;
  }
  #first img{
    width: 80px;
    height: 80px;
    margin-right: 8px;
    border-radius: 5px;
  }
  #trend{
    padding: 6px;
    text-transform: uppercase;
    background-color: #bdb2b6;
    text-align: center;
  }
  #second{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  #second img {
      width: 150px;
      height: 100px;
      margin: 12px;
      border-radius: 5px;
  }
   #second:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   }
  #press{
    display: flex;
    margin: 8px 0;
  }
  #headline{
    padding: 10px;
  }
  h1{
    font-size: 45px;
    font-weight: 900;
  }
  #two{
    display: flex;
  }
  #place{
    text-transform: uppercase;
    margin-left: 2px;
  }
  #center p{
    font-size: 18px;
    color: #2e2e2e;
  }
  #title{
    width: 80%;
    font-size: 40px;
    font-weight: 800;
  }
  a{
    color: blue;
  }
  ul{
    display: flex;
    width: 80%;
    margin:15px auto;
    text-align: center;
  }
  li{
    list-style: none;
    margin-right: 5px;
    text-align: center;
  }
  #footer{
    width: 80%;
    margin: auto;
  }
  h3{
    padding-top: 20px;
    text-align: center;
  }
  #footer{
    width: 100%;
    height: 150px;
    margin: 25px auto 0;
    background-color: #bdb2b6;
  }
  #footer div{
    width: 59%;
    margin: 10px auto;
  }
     #footer div div {
       width:80%;
       margin: auto;
     }
         #footer div div i{
font-size: 14px;
margin-right: 5px;
         }
                 a {
                   text-decoration: none;
                   color: #bdb2b6;
                 }